doctype
meta(charset="UTF-8")
title ChromeApp
link(rel="stylesheet", href="style.css")

video#player(control)

script(src="http://code.jquery.com/jquery-2.1.1.min.js")
script(src="comment-player.js")
script(src="core.js")