doctype
meta(charset="UTF-8")
title Nico Player
link(rel="stylesheet", href="components/bootstrap/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="style.css")

#toolbar.fix-pos
  ul
    li.dropdown
      a(href="#", data-toggle="dropdown")#setting_btn.np-btn.dropdown-toggle
        span.glyphicon.glyphicon-cog
      ul.dropdown-menu
        li
          a(href="#")#alwaysOnTop 
            span.glyphicon 常に手前に表示
    li
      a(href="#").np-btn#close_btn
        span.glyphicon.glyphicon-remove

video#player

#video-ctl.fix-pos
  div.ctl-box
    a(href="#")#play_btn.np-btn
      span.glyphicon.glyphicon-play
    input#volume-bar(type="range" min="0" max="1" step="0.01" value="1")

dialog#login
  form#loginForm
    h3 Request login.
    .form-control
      label Email or Tel
      input#mail_tel(type="text", name="mail_tel")
    .form-control
      label Password
      input#password(type="password", name="password")
    input#doLogin(type="submit", value="Login")

dialog#errorDialog
  p Error Message

- var scripts = ["components/jquery/dist/jquery.min.js", "components/bootstrap/dist/js/bootstrap.js", "nico-session.js", "comment-player.js", "core.js"]
for script in scripts
  script(src="#{script}")