
html,body
  margin 0
  padding 0
  height 100%
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #000

a
  text-decoration none

.cp-cover
  width 100%
  height 100%

#login
  .form-control
    label
      display block
      font-size 18px
    input
      width 200px
  button
    margin-top 15px
    float right

#errorDialog
  padding 10px
  border 0
  min-width 120px
  text-align center
  background #e74c3c
  color #ecf0f1