
html,body
  margin 0
  padding 0
  height 100%
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #000

a
  text-decoration none

dialog
  position fixed
  top 0px
  left 0px
  right 0px
  bottom 0px
  margin auto
  z-index 1100

.cp-cover
  width 100%
  height 100%

#toolbar
  -webkit-app-region drag
  width 100%
  height 10%
  min-height 16px
  top 0px
  //background rgba(0, 0, 255, .5) //debug
  z-index 1000
  ul
    list-style-type none
    float right!important
    li
      display inline-block
      padding-top 5px
      a
        font-size 1rem
        color rgba(255, 255, 255, .5)
        &:hover
          color rgba(255, 255, 255, 1)

ul.dropdown-menu
  right 0px
  left initial
  li
    a
      span
        color #000

#video-ctl
  width 100%
  height 10%
  min-height 16px
  bottom 0px
  background rgba(0, 255, 0, .5)
  z-index 1000

.fix-pos
  position fixed
  //display none
  opacity 0
    

.np-btn
  display inline-block
  text-decoration none
  vertical-align middle
  color #FFF
  padding 8px

#login
  .form-control
    label
      display block
      font-size 18px
    input
      width 200px
  button
    margin-top 15px
    float right

#errorDialog
  padding 10px
  border 0
  min-width 120px
  text-align center
  background #e74c3c
  color #ecf0f1